<!DOCTYPE html>
<html>
    <head>
        <title>Товары</title>
        <style>
            a {
                text-decoration: none;
                color: black;
            }
            div {
                border-radius: 5px;
                padding: 5px 10px;
            }
            div:hover {
                background: #f1f1f1;
            }
            .price {
                font-size: 18px;
            }
        </style>
    </head>
    <body>
        <h1>Товары</h1>

        {% for item in items %}
            <a href="{% url 'item-detail' item.id %}">
                <div>
                    <h3>
                        {{ item.name }}
                    </h3>

                    <p>{{ item.description }}</p>
                    <p class="price">{{ item.price }} {{ item.currency|upper }}</p>
                </div>
            </a>
            <hr>
        {% empty %}
            <p>Товары не найдены</p>
        {% endfor %}
    </body>
</html>