<!DOCTYPE html>
<html>
    <head>
        <title>Заказ #{{ order.id }}</title>

        <script src="https://js.stripe.com/v3/"></script>

        <style>
            .price {
                font-size: 18px;
            }
            .total_price, .coupon {
                font-size: 20px;
            }
        </style>
    </head>
    <body>
        <h1>Заказ #{{ order.id }}</h1>

        {% for item in items %}
            <h3>{{ item.item.name }}</h3>
            <p>{{ item.item.description }}</p>
            <p class="price">{{ item.item.price }} {{ item.item.currency|upper }} - за шт.</p>
            <p>В заказе {{ item.quantity }} шт.</p>
        <hr>
        {% endfor %}

        <p class="total_price">Общая стоимость: {{ order.total_price|floatformat:2 }} {{ order.currency|upper }}</p>

        {% if order.discount_amount != 0 %}
            <p class="coupon">Скидка: {{ order.discount.percent|floatformat:0 }}% ({{ order.discount.name }})</p>
        {% endif %}

        <button id="buy-button">Купить</button>

        <script>
            const stripe = Stripe('{{ stripe_publishable_key }}');
            const buyButton = document.getElementById('buy-button');

            buyButton.addEventListener('click', async () => {
                buyButton.disabled = true;

                try {
                    const response = await fetch('{% url "buy-order" order.id %}', {method: 'GET'});

                    if (!response.ok) {
                        throw new Error("Не удалось создать сессию оформления заказа");
                    }

                    const session = await response.json();

                    const result = await stripe.redirectToCheckout({ sessionId: session.id });

                    if (result.error) {
                        throw new Error(result.error.message);
                    }
                } catch (error) {
                    console.error(error);

                    buyButton.disabled = false;
                }
            });
        </script>
    </body>
</html>