<!DOCTYPE html>
<html>
    <head>
        <title>Заказы</title>

        <style>
            a {
                text-decoration: none;
                color: black;
            }
            div {
                border-radius: 5px;
                padding: 5px 10px;
            }
            div:hover {
                background: #f1f1f1;
            }
            .total_price {
                font-size: 18px;
            }
        </style>
    </head>
    <body>
        <h1>Заказы</h1>

        {% for order in orders %}
            <a href="{% url 'order-detail' order.id %}">
                <div>
                    <h3>
                        Заказ #{{ order.id }}
                    </h3>
                    {% if order.discount_amount == 0 %}
                        <p class="total_price">Общая стоимость: {{ order.total_price }} $</p>
                    {% else %}
                        <p class="total_price">Общая стоимость: <span style="text-decoration: line-through">{{ order.total_price }} $</span> - {{ order.total_price_with_discount|floatformat:2 }} $</p>
                    {% endif %}
                </div>
            </a>
            <hr>
        {% empty %}
            <p>Товары не найдены</p>
        {% endfor %}
    </body>
</html>