<!DOCTYPE html>
<html>
    <head>
        <title>Заказы</title>

        <style>
            a {
                text-decoration: none;
                color: black;
            }
            div {
                border-radius: 5px;
                padding: 5px 10px;
            }
            div:hover {
                background: #f1f1f1;
            }
            .total_price {
                font-size: 18px;
            }
        </style>
    </head>
    <body>
        <h1>Заказы</h1>

        {% for order in orders %}
            <a href="{% url 'order-detail' order.id %}">
                <div>
                    <h3>
                        Заказ #{{ order.id }}
                    </h3>
                        <p class="total_price">Общая стоимость: {{ order.total_price|floatformat:2 }} {{ order.currency|upper }}</p>
                </div>
            </a>
            <hr>
        {% empty %}
            <p>Товары не найдены</p>
        {% endfor %}
    </body>
</html>